In [3]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [4]:
df=pd.read_csv('insurance.csv')

In [5]:
x=df.iloc[:,:-1]

In [6]:
y=df.iloc[:,-1]

In [7]:
df

      age     sex     bmi  children smoker     region      charges
0      19  female  27.900         0    yes  southwest  16884.92400
1      18    male  33.770         1     no  southeast   1725.55230
2      28    male  33.000         3     no  southeast   4449.46200
3      33    male  22.705         0     no  northwest  21984.47061
4      32    male  28.880         0     no  northwest   3866.85520
...   ...     ...     ...       ...    ...        ...          ...
1333   50    male  30.970         3     no  northwest  10600.54830
1334   18  female  31.920         0     no  northeast   2205.98080
1335   18  female  36.850         0     no  southeast   1629.83350
1336   21  female  25.800         0     no  southwest   2007.94500
1337   61  female  29.070         0    yes  northwest  29141.36030

[1338 rows x 7 columns]

In [8]:
from sklearn import preprocessing
le=preprocessing.LabelEncoder()

In [9]:
x['sex']=le.fit_transform(x['sex'])
x['smoker']=le.fit_transform(x['smoker'])

In [10]:
from sklearn.preprocessing import OneHotEncoder
from sklearn.compose import ColumnTransformer

In [11]:
columnTransformer=ColumnTransformer([('encoder',OneHotEncoder(),[5])],remainder='passthrough')
x=columnTransformer.fit_transform(x)

In [12]:
from sklearn.model_selection import train_test_split
x_test,x_train,y_test,y_train=train_test_split(x,y,test_size=0.2,random_state=1)

In [14]:
from sklearn.ensemble import RandomForestRegressor

In [28]:
model=RandomForestRegressor(n_estimators=100,random_state=10)

In [29]:
model.fit(x_train,y_train)

RandomForestRegressor(random_state=10)

In [30]:
y_pred=model.predict(x_test)

In [31]:
from sklearn.metrics import r2_score

In [32]:
r2_score(y_test,y_pred)

0.8276797660641975