In [2]:
import pandas as pd
import numpy as np

In [3]:
df=pd.read_csv('weatherAUS.csv')

In [4]:
x=df.iloc[:,:-1]

In [5]:
x

,Date,Location,MinTemp,MaxTemp,Rainfall,Evaporation,Sunshine,WindGustDir,WindGustSpeed,WindDir9am,...,WindSpeed3pm,Humidity9am,Humidity3pm,Pressure9am,Pressure3pm,Cloud9am,Cloud3pm,Temp9am,Temp3pm,RainToday
0,2008-12-01,Albury,13.4,22.9,0.6,NaN,NaN,W,44.0,W,...,24.0,71.0,22.0,1007.7,1007.1,8.0,NaN,16.9,21.8,No
1,2008-12-02,Albury,7.4,25.1,0.0,NaN,NaN,WNW,44.0,NNW,...,22.0,44.0,25.0,1010.6,1007.8,NaN,NaN,17.2,24.3,No
2,2008-12-03,Albury,12.9,25.7,0.0,NaN,NaN,WSW,46.0,W,...,26.0,38.0,30.0,1007.6,1008.7,NaN,2.0,21.0,23.2,No
3,2008-12-04,Albury,9.2,28.0,0.0,NaN,NaN,NE,24.0,SE,...,9.0,45.0,16.0,1017.6,1012.8,NaN,NaN,18.1,26.5,No
4,2008-12-05,Albury,17.5,32.3,1.0,NaN,NaN,W,41.0,ENE,...,20.0,82.0,33.0,1010.8,1006.0,7.0,8.0,17.8,29.7,No
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
145455,2017-06-21,Uluru,2.8,23.4,0.0,NaN,NaN,E,31.0,SE,...,11.0,51.0,24.0,1024.6,1020.3,NaN,NaN,10.1,22.4,No
145456,2017-06-22,Uluru,3.6,25.3,0.0,NaN,NaN,NNW,22.0,SE,...,9.0,56.0,21.0,1023.5,1019.1,NaN,NaN,10.9,24.5,No
145457,2017-06-23,Uluru,5.4,26.9,0.0,NaN,NaN,N,37.0,SE,...,9.0,53.0,24.0,1021.0,1016.8,NaN,NaN,12.5,26.1,No
145458,2017-06-24,Uluru,7.8,27.0,0.0,NaN,NaN,SE,28.0,SSE,...,7.0,51.0,24.0,1019.4,1016.5,3.0,2.0,15.1,26.0,No
145459,2017-06-25,Uluru,14.9,NaN,0.0,NaN,NaN,NaN,NaN,ESE,...,17.0,62.0,36.0,1020.2,1017.9,8.0,8.0,15.0,20.9,No

In [6]:
y=df.iloc[:,-1]

In [7]:
x.drop(['Date'],axis=1,inplace=True)

In [8]:
x

,Location,MinTemp,MaxTemp,Rainfall,Evaporation,Sunshine,WindGustDir,WindGustSpeed,WindDir9am,WindDir3pm,...,WindSpeed3pm,Humidity9am,Humidity3pm,Pressure9am,Pressure3pm,Cloud9am,Cloud3pm,Temp9am,Temp3pm,RainToday
0,Albury,13.4,22.9,0.6,NaN,NaN,W,44.0,W,WNW,...,24.0,71.0,22.0,1007.7,1007.1,8.0,NaN,16.9,21.8,No
1,Albury,7.4,25.1,0.0,NaN,NaN,WNW,44.0,NNW,WSW,...,22.0,44.0,25.0,1010.6,1007.8,NaN,NaN,17.2,24.3,No
2,Albury,12.9,25.7,0.0,NaN,NaN,WSW,46.0,W,WSW,...,26.0,38.0,30.0,1007.6,1008.7,NaN,2.0,21.0,23.2,No
3,Albury,9.2,28.0,0.0,NaN,NaN,NE,24.0,SE,E,...,9.0,45.0,16.0,1017.6,1012.8,NaN,NaN,18.1,26.5,No
4,Albury,17.5,32.3,1.0,NaN,NaN,W,41.0,ENE,NW,...,20.0,82.0,33.0,1010.8,1006.0,7.0,8.0,17.8,29.7,No
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
145455,Uluru,2.8,23.4,0.0,NaN,NaN,E,31.0,SE,ENE,...,11.0,51.0,24.0,1024.6,1020.3,NaN,NaN,10.1,22.4,No
145456,Uluru,3.6,25.3,0.0,NaN,NaN,NNW,22.0,SE,N,...,9.0,56.0,21.0,1023.5,1019.1,NaN,NaN,10.9,24.5,No
145457,Uluru,5.4,26.9,0.0,NaN,NaN,N,37.0,SE,WNW,...,9.0,53.0,24.0,1021.0,1016.8,NaN,NaN,12.5,26.1,No
145458,Uluru,7.8,27.0,0.0,NaN,NaN,SE,28.0,SSE,N,...,7.0,51.0,24.0,1019.4,1016.5,3.0,2.0,15.1,26.0,No
145459,Uluru,14.9,NaN,0.0,NaN,NaN,NaN,NaN,ESE,ESE,...,17.0,62.0,36.0,1020.2,1017.9,8.0,8.0,15.0,20.9,No

In [9]:
from sklearn.impute import SimpleImputer

In [10]:
numeric_cols=[1,2,3,4,5,7,10,11,12,13,14,15,16,17,18,19]

In [11]:
imp_mean=SimpleImputer(missing_values=np.nan,strategy='mean')

In [12]:
imp_mean.fit(x.iloc[:,numeric_cols])

SimpleImputer()

In [13]:
x.iloc[:,numeric_cols]= imp_mean.transform(x.iloc[:,numeric_cols])

In [14]:
string_cols=[0,6,8,9,20]

In [15]:
imp_mean=SimpleImputer(missing_values=np.nan,strategy='most_frequent')

In [16]:
imp_mean.fit(x.iloc[:,string_cols])

SimpleImputer(strategy='most_frequent')

In [17]:
x.iloc[:,string_cols]=imp_mean.transform(x.iloc[:,string_cols])

In [18]:
x.isnull().sum()

Location         0
MinTemp          0
MaxTemp          0
Rainfall         0
Evaporation      0
Sunshine         0
WindGustDir      0
WindGustSpeed    0
WindDir9am       0
WindDir3pm       0
WindSpeed9am     0
WindSpeed3pm     0
Humidity9am      0
Humidity3pm      0
Pressure9am      0
Pressure3pm      0
Cloud9am         0
Cloud3pm         0
Temp9am          0
Temp3pm          0
RainToday        0
dtype: int64

In [19]:
from sklearn import preprocessing
le=preprocessing.LabelEncoder()
from sklearn.preprocessing import OneHotEncoder
from sklearn.compose import ColumnTransformer

In [20]:
columnTransformer=ColumnTransformer([('encoder',OneHotEncoder(),[0,6,8,9,20])],remainder='passthrough')

In [21]:
x=columnTransformer.fit_transform(x)

In [22]:
#columnTransformer=ColumnTransformer([('encoder',OneHotEncoder(),[20])],remainder='passthrough')

In [23]:
#y=columnTransformer.fit_transform(y)

In [24]:
le

LabelEncoder()

In [25]:
le.fit(y)

LabelEncoder()

In [26]:
y=le.transform(y)

In [27]:
from sklearn.model_selection import train_test_split

In [28]:
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.2,random_state=2)

In [29]:
x_train

<116368x115 sparse matrix of type '<class 'numpy.float64'>'
	with 2349692 stored elements in Compressed Sparse Row format>

In [34]:
x_test

<29092x115 sparse matrix of type '<class 'numpy.float64'>'
	with 587581 stored elements in Compressed Sparse Row format>

In [35]:
y_test

array([0, 0, 0, ..., 0, 0, 0])

In [30]:
from sklearn import preprocessing

In [31]:
sc=preprocessing.StandardScaler(with_mean=False)

In [32]:
sc.fit(x_train)

StandardScaler(with_mean=False)

x_train=sc.transform(x_train)

In [33]:
x_train

<116368x115 sparse matrix of type '<class 'numpy.float64'>'
	with 2349692 stored elements in Compressed Sparse Row format>

In [36]:
from sklearn.linear_model import LinearRegression
from sklearn import metrics

In [37]:
lr=LinearRegression()

In [38]:
lr

LinearRegression()

In [39]:
x_train

<116368x115 sparse matrix of type '<class 'numpy.float64'>'
	with 2349692 stored elements in Compressed Sparse Row format>

In [40]:
y_train

array([0, 0, 0, ..., 1, 1, 0])

In [41]:
lr.fit(x_train,y_train)

LinearRegression()

In [42]:
train_pred=lr.predict(x_train)
test_pred=lr.predict(x_test)

In [43]:
error_train=metrics.r2_score(y_train,train_pred)

In [44]:
error_train

0.27533151682981516

In [45]:
error_test=metrics.r2_score(y_test,test_pred)

In [46]:
error_test

0.27745581664385033